.content-circle{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: gray;
    left: 0;

    animation: white-circle 2000ms linear infinite alternate;
}

@keyframes white-circle{
    0%{
        left: 0px;
    }

    25%{
        background-color: red;
        left: 1000px;
        top: 0;
    }

    50%{
        background-color: aqua;
        left: 1000px;
        top: 500px;
    }

    75%{
        background-color: tomato;
        left: 0;
        top: 500px;
    }

    100%{
        left: 0;
        top: 0;
    }
}

.content-circle:hover{
    animation-play-state: paused;
}